*{
    background-color: pink;
}
.img{
    height: 50%;
    border-radius: 5%;
    object-fit: cover;
    border-width: 10px;
    border-color: pink;
    border-style: solid;


}

.pwebsite{
        display: flex;
        align-items: center;
        font-family: Impact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif


}

.pwebsite-resume{
    padding: 15px;
    color: whitesmoke;
    background-color: white;
}